.prototype-todo {
  background-color: #ffffff;
  height: 852px;
  position: relative;
  width: 393px;
}

.prototype-todo .navigation-bar {
  background-color: #d5d5d5;
  height: 60px;
  left: 0;
  position: absolute;
  top: 792px;
  width: 393px;
}

.prototype-todo .overlap-group {
  height: 55px;
  left: 93px;
  position: absolute;
  top: 5px;
  width: 298px;
}

.prototype-todo .to-do {
  height: 54px;
  left: 75px;
  position: absolute;
  top: 1px;
  width: 77px;
}

.prototype-todo .todo-text {
  color: #000000b2;
  font-family: "Krona One", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 36px;
  width: 75px;
}

.prototype-todo .todo-list {
  height: 36px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 36px;
}

.prototype-todo .to-plan {
  height: 54px;
  left: 138px;
  opacity: 0.4;
  position: absolute;
  top: 1px;
  width: 77px;
}

.prototype-todo .text-wrapper {
  color: #000000b2;
  font-family: "Krona One", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 36px;
  width: 75px;
}

.prototype-todo .calendar {
  height: 32px;
  left: 22px;
  position: absolute;
  top: 0;
  width: 32px;
}

.prototype-todo .purchase {
  height: 54px;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 1px;
  width: 77px;
}

.prototype-todo .purchase-bag {
  height: 32px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 32px;
}

.prototype-todo .get-around {
  height: 54px;
  left: 213px;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 85px;
}

.prototype-todo .div {
  color: #000000b2;
  font-family: "Krona One", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 36px;
  width: 83px;
}

.prototype-todo .map {
  height: 32px;
  left: 26px;
  position: absolute;
  top: 0;
  width: 32px;
}

.prototype-todo .home {
  height: 48px;
  left: 20px;
  position: absolute;
  top: 5px;
  width: 48px;
}

.prototype-todo .todo-box {
  height: 457px;
  left: 19px;
  position: absolute;
  top: 85px;
  width: 358px;
}

.prototype-todo .overlap {
  background-color: #d5b19566;
  border-radius: 15px;
  height: 457px;
  position: relative;
  width: 356px;
}

.prototype-todo .overlap-group-2 {
  background-color: #735d42b2;
  border-radius: 15px 15px 0px 0px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 356px;
}

.prototype-todo .text-wrapper-2 {
  color: #000000;
  font-family: "Marko One", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
}

.prototype-todo .img {
  height: 24px;
  left: 317px;
  position: absolute;
  top: 13px;
  width: 24px;
}

.prototype-todo .add-todo-button {
  height: 53px;
  left: 6px;
  position: absolute;
  top: 397px;
  width: 343px;
}

.prototype-todo .todo {
  height: 36px;
  left: 12px;
  position: absolute;
  top: 342px;
  width: 321px;
}

.prototype-todo .checkbox {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 3px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.prototype-todo .todo-description {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 269px;
}

.prototype-todo .priority-marker {
  height: 15px;
  left: 315px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.prototype-todo .todo-2 {
  height: 36px;
  left: 12px;
  position: absolute;
  top: 286px;
  width: 321px;
}

.prototype-todo .todo-3 {
  height: 36px;
  left: 12px;
  position: absolute;
  top: 230px;
  width: 323px;
}

.prototype-todo .priority-marker-2 {
  height: 15px;
  left: 312px;
  position: absolute;
  top: 4px;
  width: 9px;
}

.prototype-todo .todo-4 {
  height: 36px;
  left: 12px;
  position: absolute;
  top: 174px;
  width: 323px;
}

.prototype-todo .todo-5 {
  height: 36px;
  left: 12px;
  position: absolute;
  top: 126px;
  width: 326px;
}

.prototype-todo .priority-marker-red {
  height: 15px;
  left: 310px;
  position: absolute;
  top: 4px;
  width: 14px;
}

.prototype-todo .todo-6 {
  height: 36px;
  left: 12px;
  position: absolute;
  top: 70px;
  width: 326px;
}

.prototype-todo .completed-box {
  height: 50px;
  left: 19px;
  position: absolute;
  top: 562px;
  width: 358px;
}

.prototype-todo .overlap-2 {
  background-color: #735d42b2;
  border-radius: 15px;
  height: 50px;
  position: relative;
  width: 356px;
}

.prototype-todo .header {
  background-color: transparent;
  height: 40px;
  left: 116px;
  position: absolute;
  top: 25px;
  width: 162px;
}

.prototype-todo .personalised {
  color: #000000;
  font-family: "Marko One", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}
